body {
    background-color: #b6d1fe
}
#wrapper {
    position: fixed;
    left: 0px;
    top: 0px;
    padding: 0px;
}

#logo {
    
    position: absolute;
    z-index: 1;
}

    h1 {
        position: absolute;
        z-index: 1;
        margin: 0px;
        top: 40px;
        left: 200px;
        font-family: helvetica;
    font-size: 80px;
    color: rgb(203, 24, 30);
    }